<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1> LEDS ARE OFF </h1>
        <p>You have turned all the lights off, to start again, select from the options below and the press submit to change values of your LED strip</p>
    </div>
    <div class = "main">
    {% block content %}
            <div class="options">
                <h2>Create a new pattern</h2>
                <hr />
                <form method ="POST"> {% csrf_token %}
                    {{ form.as_p }}
                    <input style = "width:300px; border:2px solid black; border-radius:5px;font-weight:bold; font-size:20px;" type = "submit" value = "add pattern" />
                </form>
            </div>
        {% endblock %}
        <br />
        {% if all_patterns %}
        <div class ="options">
        <h2> Current stored patterns </h2>
        <hr />
            <div class = "db_patterns">
                {% for pattern in all_patterns %}
                    <div>
                    <a style = "margin:2px;" href = "{% url 'on_page' pattern_speed=pattern.speed_var pattern_color=pattern.colors pattern_name=pattern.name pattern_leds=pattern.num_leds pattern_baf=pattern.back_and_forth %}" >
                    <button style="font-size:16px; margin:3px; border-left:3px solid {{pattern.colors}};">Turn on {{pattern.name}} | {{pattern.speed_var}}</button></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h3>no patterns in database yet, add some! </h3>
        {% endif %}
    </div>
</body>
</html>
